<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appSettings" type="org.aib.configuration.AppSettingsSectionHandler"/>
		<section name="palettes" type="org.aib.configuration.PalettesSectionHandler"/>
		<section name="inspectors" type="org.aib.configuration.InspectorsSectionHandler"/>
		<section name="libraries" type="org.aib.configuration.LibrariesSectionHandler"/>
		<section name="images" type="org.aib.configuration.ImagesSectionHandler"/>
	</configSections>
	<palettes>
		<palette type="org.aib.palette.MenusPalette"/>
		<palette type="org.aib.palette.ControlsPalette"/>
		<palette type="org.aib.palette.TextPalette"/>
		<palette type="org.aib.palette.WindowsPalette"/>
		<palette type="org.aib.palette.DataPalette"/>
		<palette type="org.aib.palette.ContainersPalette"/>
		<palette type="org.aib.palette.ControllersPalette"/>
	</palettes>
	<inspectors>
		<inspector type="org.aib.inspector.AttributesInspector" src="attributes/"/>
		<inspector type="org.aib.inspector.ConnectionsInspector"/>
		<inspector type="org.aib.inspector.SizeInspector"/>
		<inspector type="org.aib.inspector.BindingsInspector"/>
		<inspector type="org.aib.inspector.CustomClassInspector"/>
		<inspector type="org.aib.inspector.HelpInspector"/>
	</inspectors>
	<images>
		<!-- For palettes -->
		<image src="Containers.png" name="Containers"/>
		<image src="Controllers.png" name="Controllers"/>
		<image src="Controls.png" name="Controls"/>
		<image src="Data.png" name="Data"/>
		<image src="NSMenu.png" name="NSMenu"/>
		<image src="Text.png" name="Text"/>
		<image src="Windows.png" name="Windows"/>
		<image src="Sound.png" name="Sound"/>
		
		<!-- For inspectors -->
		<image src="Spring.png" name="Spring"/>
	</images>
	<appSettings>
		<add key="socketHost" value="localhost"/>
		<add key="socketPort" value="7777"/>
		<add key="language" value="eng"/>
		<add key="arrowKeyMoveDistance" value="5"/>
	</appSettings>
</configuration>